.homepage{
    position: relative;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    
}

.homepage-main {
    width: 65%;
}

.homepage-watchlist {
    
    width: 30%
}

.watchlist {
    position:fixed;
    /* height: 90% ; */
    width: 282px;
    border-radius: 4px;
    box-shadow: 0 0 14px rgb(220,220,220)
    
}



.portfolio-graph {
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    border-bottom: 1px solid rgb(244,244,245);
    padding-top: 20px;

}

.portfolio-graph > h1 {
    font-size: 35px;
    display:flex;
    padding-bottom: 5px;
    
}
.portfolio-graph > h2 {
    font-size: 12px;

}


.portfolio-buttons {
    display:flex;
    width: 25%;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 20px;
    font-size: 12px;
    height: 14px;
}

.portfolio-buttons > button:hover {
    color: rgb(52,206,153);
    border-bottom: 1px solid rgb(52,206,153);
}

.dash-button {
    margin-right: 10px;
}




