.searchbar-container {
    position: relative;
    width: 25%;
    display:flex;
    flex-direction: column;
    z-index: 2;
}

.search-bar {
    width: 100%;
}

.search-items {
    position: absolute;
    top: 32px;
    width: 100%;
}

.search-items > li {
    height: 20px;
}

.search-items > li > a {
    height: 20px;
    padding: 0px;
}