.splash-container {
    font-family: 'Arimo', sans-serif;
    height: auto;
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}

.commission-free-container {
    margin-top: 70px;
    width: 100%;
    height: 570px;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;

}


.splash-two-phones {
    width: 100%;
    // height:100%;
    height: 0;
    background-image: image-url("two_phones_2.png");
    background-size: contain;
    padding-bottom: 50%;
    background-position: center;
    // box-sizing: border-box;
    // background-origin: padding-box;
    // background-position:50% 50%;
    // resize: both;
    // overflow: hidden;
    
}
.splash-container-text {
   width: 30%;
}

.splash-container-text > h2 {
    padding-top: 20px;
    font-size: 16px;
    line-height: 25px;
}
.splash-container-text > h1 {
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
}

strong {
    color: rgb(52,209,153);
    font-weight: bold;
}

.splash-signup-link {
    margin-top: 40px;
    background-color: rgb(52, 209, 153);
    padding:  0 24px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.cash-management-splash {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: rgb(120,235,195);
    background: linear-gradient(90deg, rgba(120,235,195,1) 0%, 
    rgba(80,187,150,1) 0%, rgba(112,225,186,1) 0%, 
    rgba(62,159,126,1) 10%, rgba(63,153,118,1) 13%, 
    rgba(35,88,62,1) 25%, rgba(13,22,18,1) 42%, rgba(0,0,0,1) 53%);
    color: white;
    height: 200px;
    justify-content: space-around;
}

.jetpack-pug {
    background-image: image-url("jetpack_pug.png");
    height: 100%;
    background-size: 350px;
    width: 300px;
    background-position: center;
    -webkit-transform: rotate(-15deg) translate(-13px);
    transform: rotate(-15deg) translate(-13px);
}

.cash-management-text {
    width: 40%;
    display:flex;
    align-items: center;
}

.cash-management-text > h1 {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
}

.splash-assets {
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: space-between;
    margin-top: 80px;
}

.splash-assets-content {
   height: 100%;
    width: 20%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.splash-assets-content > h1 {
    font-size: 24px;
    font-weight: bold;
}

.splash-assets-content > p {
    font-size: 14px;
    line-height: 24px;
}

.stocks-img {
    background: image-url("stocks.svg");
    width: 72px;
    height: 53px;
}

.etfs-img {
    background: image-url("etfs.png");
    height: 57px;
    width: 54px;
}

.crypto-img {
    background: image-url("crypto.svg");
    width: 68px;
    height: 61px;
}
.options-img {
    background: image-url("options.svg");
    width: 53px;
    height: 59px;
}

.splash-links {
    color: rgb(52,209,153);
    font-weight: bold;
    font-size: 14px;
}

.no-manual-needed {
    height: 600px;
    display: flex;
}

.white-phone {
    background: image-url("splash_white_phone");
    width: 100%;
    background-size: cover;
    background-position: center;

}

.white-phone-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.white-phone-text > div {
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.white-phone-text > div > h1 {
    font-size: 40px;
    font-weight: bold;
}

.white-phone-text > div > p {
    line-height: 30px;
    font-size: 16px;
}

.next-level-investing {
    font-family: 'Arimo', sans-serif;
    background: black;
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.next-level-img {
    background: image-url("splash_phones");
    width: 50%;
    background-size: cover;
    // background-position-x: 10px;
    background-position-y: 65%;
    transform: scale(1.5);
    box-sizing: border-box;
}

.next-level-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
} 

.next-level-text > * {
    width: 60%;
}  
.next-level-text > h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
    position: absolute;
    top: 170px;
    
}  

.next-level-text > p {
    line-height: 25px;
}  
.next-level-text > div {
    position:absolute;
    bottom: 150px;
    width: 140px;
    left: 150px;
    text-align: center;
    padding: 0 24px;
    border-radius: 36px;
    background: linear-gradient(114.36deg,#956436 0%,#bc935e 100%);
    box-sizing: border-box;
    height: 48px;
    line-height: 50px;
    font-weight: bold;
}  

.keep-tabs-outer {
    width: 100%;
    height: 700px;
    font-family: 'Arimo', sans-serif;
}

.keep-tabs {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
}

.keep-tabs-img {
    background: image-url("splash_black_phone.png");
    height: 700px;
    width: 50%;
    display: flex;
    background-size: cover;
    background-position: center;
}

.keep-tabs-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keep-tabs-text > h1{
    width: 65%;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: -1px;

}

.keep-tabs-text > p {
    line-height: 25px;
    width: 65%
}

.trusted-by-millions-container {
    width: 100%;
    height: 800px;
    background-color: rgb(4,12,20);
    color: white;
    display: flex;
    align-items: center;
}

.trusted-by-millions {
    font-family: 'Arimo', sans-serif;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eagle {
    background: image-url("usa_eagle.png");
    width: 185px;
    height: 221px;
    margin-bottom: 30px;

}

.trusted-by-millions > h1 {
    width: 33%;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;

}
.trusted-by-millions > p {
    line-height: 25px;
    width: 40%;
    text-align: center;
}

.get-started-container {
    font-family: 'Arimo', sans-serif;
    width: 100%;
    background-color: rgb(52, 209, 153);
    height: 460px;
    display: flex;
    justify-content: center;
}

.get-started {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-started > h1 {
    padding-top: 100px;
    width: 50%;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.get-started > p {
    line-height: 25px;
    width: 90%;
    text-align: center;
}

.white {
    margin-bottom: 40px;
    color: rgb(52, 209, 153);
    background: white;
}

.splash-signup-link:hover {
    text-decoration: underline;
}

.disclaimers-container {
    font-family: 'Arimo', sans-serif;
    height: 600px;
    width: 80%;
    color: rgb(201, 203, 204);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 10px;

}

.disclaimers {
   width: 40%;
   margin-top: 80px;
}

// .splash-signup-link:hover {
//     box-shadow: 10px;
// }

.signup-link:hover {
    box-shadow: 4px 4px rgb(240,240,240);
    transition: box-shadow .3s ease-in-out;
}
















