.splash-container {
    font-family: 'Arimo', sans-serif;
    height: 800px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}

.splash-two-phones {
    height: 721px;
    width: 70%;
    background-image: image-url("two_phones_2.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display:inline-block;
}
.splash-container-text {
   display:inline-block;
   width: 30%;
   padding-top: 225px;
}

.splash-container-text > h2 {
    padding-top: 20px;
    font-size: 16px;
    line-height: 25px;
}
.splash-container-text > h1 {
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
}

strong {
    color: rgb(52,209,153);
    font-weight: bold;
}

.splash-signup-link {
    margin-top: 40px;
      background-color: rgb(52, 209, 153);
    padding:  0 24px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    display: inline-block;
}

.cash-management-splash {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: rgb(120,235,195);
    background: linear-gradient(90deg, rgba(120,235,195,1) 0%, 
    rgba(80,187,150,1) 0%, rgba(112,225,186,1) 0%, 
    rgba(62,159,126,1) 10%, rgba(63,153,118,1) 13%, 
    rgba(35,88,62,1) 25%, rgba(13,22,18,1) 42%, rgba(0,0,0,1) 53%);
    color: white;
    height: 200px;
    justify-content: space-around;
}

.jetpack-pug {
    background-image: image-url("jetpack_pug.png");
    height: 100%;
    background-size: 350px;
    width: 300px;
    background-position: center;
    -webkit-transform: rotate(-15deg) translate(-13px);
    transform: rotate(-15deg) translate(-13px);
}

.cash-management-text {
    width: 40%;
    display:flex;
    align-items: center;
}

.cash-management-text > h1 {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
}

.splash-assets {
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: space-between;
    margin-top: 80px;
}

.splash-assets-content {
   height: 100%;
    width: 20%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.splash-assets-content > h1 {
    font-size: 24px;
    font-weight: bold;
}

.splash-assets-content > p {
    font-size: 14px;
    line-height: 24px;
}

.stocks-img {
    background: image-url("stocks.svg");
    width: 72px;
    height: 53px;
}

.etfs-img {
    background: image-url("etfs.png");
    height: 57px;
    width: 54px;
}

.crypto-img {
    background: image-url("crypto.svg");
    width: 68px;
    height: 61px;
}
.options-img {
    background: image-url("options.svg");
    width: 53px;
    height: 59px;
}

.splash-links {
    color: rgb(52,209,153);
    font-weight: bold;
}

.no-manual-needed {
    height: 550px;
    border: 1px solid red;
    display: flex;
}

.white-phone {
    background: image-url("splash_white_phone");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid blue;

}

.white-phone-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-phone-text > h1 {
    font-size: 40px;
    font-weight: bold;
}








