.company-show-transactions {
    font-family: 'Arimo', sans-serif;
    position: relative;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.transaction-form {
    position: sticky;
    top: 90px;
    height: 355px;
    width: 282px;
    border-radius: 4px;
    box-shadow: 0 0 14px rgb(220,220,220);
    margin-top: 20px;
    background-color: white;
}
.buy-sell {
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(240,240,240);
}
.buy-sell > h1 {
    width: 50%;
     padding: 8px 34px;
     text-align: center;
     font-size: 15px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 14px;
    margin-top: 3px;

   
}

.shares, .market-price, .estimated-cost {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px
}
.shares > input {
    background-color: rgb(245,245,245);
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    text-align: right;
  
}

.buy-shares {
    border: 1px solid rgb(60,209,152);
}

.sell-shares {
    border: 1px solid rgb(245, 85,51);
}


.market-price > h1 {
    color: rgb(60, 209, 152);
    font-size: 14px;
}

.market-price {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(230,230,230);
}

.estimated-cost > h1 {
    font-weight: bold;
}

.buy-button {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 5px;
    font-size: 13px;
    border-radius: 6px;
    background-color:rgb(53, 206,153);
    color: white;

}
.buy-button:hover {
    background-color:rgb(9, 233,173);
}

.sell-button {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 5px;
    font-size: 13px;
    border-radius: 6px;
    background-color:rgb(245, 85,51);
    color: white;

}
.sell-button:hover {
    background-color:rgb(255,99,66);
}

.buying-power {
    border-top: 1px solid rgb(245,245,245);
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-top: 8px;
    color: rgb(53,206,153);
    margin-bottom: 10px;
}

.buying-power > h2 {
    margin-right: 5px;
}

.active-buy {
    background-color: rgb(53,206,153);
    color: white;
    border: 1px solid  rgb(53,206,153);
    border-radius: 4px;
}
.active-buy:hover {
    background-color: rgb(9,233,173);
    color: white;
    border: 1px solid  rgb(9,233,173);
    border-radius: 4px;
}

.active-sell {
    background-color:rgb(245, 85,51);
    color: white;
    border: 1px solid rgb(245, 85,51);
    border-radius: 4px;

}
.active-sell:hover {
    background-color:rgb(255,99,66);
    color: white;
    border: 1px solid rgb(255,99,66);
    border-radius: 4px;

}

.hidden {
    display:none;
}

.watchlist-buttons {
    margin-top: 30px;
    /* margin-left: 0 auto; */
    font-size: 14px;
}


.watchlist-buttons {
  position: sticky;
  top: 475px;
}

.watchlist-button {
    padding: 10px 20px;
    border: 1px solid;
    border-color: rgb(52,206,153);
    background-color: white;
    border-radius: 6px;
}

.watchlist-button:nth-child(1) {
    border-color: rgb(52,206,153);
    color: rgb(52,206,153);
}
.watchlist-button:nth-child(1):hover {
    border-color: rgb(9,233,173);
    color: rgb(9,233,173);
}
.watchlist-button:nth-child(2) {
    border-color:rgb(245,85,51);
    color: rgb(245,85,51);
}
.watchlist-button:nth-child(2):hover {
    border-color: rgb(255,99,66);
    color: rgb(255,99,66);
}

.transaction-errors {
    height: 14px;
    color: rgb(245,85,51);
    font-size: 12px;
    text-align: center;
}


.not-valid-company {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: inherit;
}

.form-ticker {
    font-weight: bold;
    color: rgb(52,206,153);
    font-size: 20px;
}

.not-valid-company > p {
    text-align: center;
    width: 80%;
    font-size: 14px;
}

.transaction-form-home {
    padding: 10px 10px;
    background-color: rgb(52,206,153);
    color: white;
    font-weight: bold;
    border-radius: 6px;
}
.transaction-form-home:hover {
    background-color: rgb(9, 233,173);
}



